@model WinnerSurvey.Models.L1.mWGE

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript">

    function toggle(checktoggle) {

        var checkboxes = new Array();
        checkboxes = document.getElementsByName('checkbox1');

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == 'checkbox') {
                checkboxes[i].checked = checktoggle.checked;
            }
        }
    }

    $(function selectall() {

        $(document).ready(function () {
            var oTable = $('#odgvData').dataTable();

            var allPages = oTable.fnGetNodes();

            $('form').on('click', '#select-all', function () {
                if ($(this).hasClass('allChecked')) {
                    $('input[type="checkbox"]', allPages).prop('checked', true);
                } else {
                    $('input[type="checkbox"]', allPages).prop('checked', false);
                }
                $(this).toggleClass('allChecked');
            })
        });

    });

</script>

<body>
    <div class="row">
        <div class="col-sm-12 col-md-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Report 2</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body table-responsive no-padding">
                    <br />

                    @using (Html.BeginForm("getReport2"
                                     , "CR"
                                     , FormMethod.Post
                                     , new { id = "oForm" }))
                    {
                        <div style="display:none">
                            <input name="Year" value="@Model.Year" />
                        </div>

                        <table id="odgvData" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="text-center"><input style="height:18px;width:20px;" class="allChecked" name="select-all" id="select-all" type="checkbox" onClick="selectall()" />All</th>
                                    <th>ID</th>
                                    <th>Number ID</th>
                                    <th>Name</th>
                                    <th>QR Code</th>
                                    <th>วันที่เอกสาร</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model != null && Model.mwge2.ListSurvey2 != null && Model.mwge2.ListSurvey2.Count > 0)
                                {
                                    foreach (var oItem in Model.mwge2.ListSurvey2)
                                    {
                                        <tr>
                                            <td class="text-center"><input type="checkbox" style="transform:scale(1.5)" name="checkbox1" id="checkbox" value="@oItem.NumberID" /></td>
                                            <td>@oItem.ID</td>
                                            <td>@oItem.NumberID</td>
                                            <td>@oItem.Name</td>
                                            <td>@oItem.QRCode - @oItem.Code</td>
                                            <td data-order="@oItem.Date.Value.ToString("yyyyMMdd")">@oItem.Date.Value.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6"><button type="submit" onclick="return confirm('ยืนยันการส่ง ?')" class="btn btn-info pull-right">Submit</button></td>
                                </tr>
                            </tfoot>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts{

    <link rel="stylesheet" href="~/Content/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <script type="text/javascript" src="~/Content/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    @*Gridview*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#odgvData').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                language: {
                    "zeroRecords": "ไม่มีข้อมูล"
                },
                stateSave: true
            });

            $('#Paginator').on('click', 'a', function (even) {

                var tPage = this.search;

                if (tPage == "")
                    return false;

                tPage = tPage.replace("?", "");
                tPage = tPage.split("&")[0].replace("page=", "");
                $("#Page").val(tPage);
                $("#obtnSearch").click();

                //var radioValue = $("input[name='XVScanType']:checked").val();
                //pmdoData = {
                //    XVScanType: radioValue,
                //    XVSearch: $("#XVSearch").val(),
                //}

                //$.ajax({
                //    url: this.href,
                //    type: 'POST',
                //    data: pmdoData,
                //    cache: false,
                //    async: true,
                //    error: function (jqXHR, error, errorThrown) {
                //        //display error
                //    },
                //    success: function (data, textStatus, jqXHR) {
                //        $("body").html(data);
                //    }
                //});
                return false;
            });
        });
    </script>
}

